.row
  .col.s12.m12
    .card.white
      .card-content.white-text
        span.card-title.grey-text Lista de Grupos
        .row 
          table.bordered
            thead
              tr.grey-text.text-darken-3  
                th(data-field='id') Clave Grupo
                th(data-field='id') Clave Carrera
                th(data-field='id') Cuatrimestre
                th(data-field='id') Letra
                th(data-field='id') Turno
                th(data-field='id') Clave Periodo
                th Aciones

            tbody
              for grupo in lista_grupo
                tr.grey-text.text-darken-3.tabla-text-size
                  td.teal-text.text-accent-4 
                    a(href='{% url "editar_grupo" grupo.id %}')
                      {{grupo.clave_grupo}}
                  td {{grupo.clave_carrera}}
                  td {{grupo.cuatrimestre}}
                  td {{grupo.letra}}
                  td {{grupo.get_turno_display}}
                  td {{grupo.clave_periodo}}
                  td 
                    a.mdi-content-create.small(href='{% url "editar_grupo" grupo.id %}')
                  td
                    a.mdi-action-delete.small(href='{% url "eliminar_grupo" grupo.id %}')

    a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red
     i.material-icons {{ lista_grupo | length}}