extends 'base_admin.jade'

block title
  | Lsta de Grupos

block main 
  include grupos/_lista.jade
  

                 


// recorrer el obeject_list usando un for 
// ejemplo:for alumno in object_list
