extends 'base_admin.jade'

block title
  | &nbsp;|
  if object
    | Editar Grupo
  else
    | Crear Grupo

block main
  .row
    .col.s12.m12
      .card.yellow.lighten-1
        .card-content.white-text
          span.card-title.black-text 
            if object
              | Editando: {{ object }}
            else
              | Registrar un nuevo Grupo
          .row
            form.col.l12(method='post')
              {% csrf_token %}
              .row.grey-text.text-darken-3
                .input-field.col.s3     
                  i.mdi-action-star-rate.prefix            
                  {{ form.clave_grupo  }}
                  label(for='id_clave_grupo') {{  form.clave_grupo.label  }}
                .input-field.col.s3 
                  {{ form.clave_carrera }}
                  label(for='id_clave_carrera') {{ form.clave_carrera.label }}
                .input-field.col.s3
                  i.mdi-action-tab.prefix
                  {{ form.cuatrimestre }}
                  label(for='id_cuatrimestre') {{ form.cuatrimestre.label }} 
                .input-field.col.s3
                  nput-field.col.s3
                  i.mdi-action-translate.prefix
                  {{ form.letra }}
                  label(for='id_letra') {{ form.letra.label }}

              .row.grey-text.text-darken-3
                .input-field.col.s3
                  {{ form.turno }}
                  label(for='id_turno') {{ form.turno.label }}
                .input-field.col.s3
                  {{ form.clave_periodo }}
                  label(for='id_clave_periodo') {{ form.clave_periodo.label }}
              if object
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Actualizar
              else 
                 button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
              
        .card-action.grey.darken-3
          {{form.non_field_errors}}
          if messages
            .chip 
              for message in messages
                {{  message  }}
              i.material-icons.mdi-navigation-cancel
  a.btn-inscripcion.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "listar_grupo" %}', data-position='left', data-tooltip='Ver Grupos') 
   i.mdi-action-list
