/*estylo al login*/
.login-top{
  padding-top: 150px;
}
.botones-top{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-right: 40px;
}
.solo{
    right: 15px;
}
.btn-alumno{
    position: absolute;
    z-index: 100;
    left: 1200px;
    top: 455px;
}
.btn-generacion{
    position: absolute;
    z-index: 100;
    left: 1200px;
    top: 455px;
}
.btn-docente{
    position: absolute;
    z-index: 100;
    left: 1200px;
    top: 380px;
}
.btn-generacion{
    position: absolute;
    z-index: 100;
    left: 1200px;
    top: 305px;
}
.btn-inscripcion{
    position: absolute;
    z-index: 100;
    left: 1200px;
    top: 380px;
}
.btn-contac{
    bottom: 45px;
    left: 35px;
}

.tabla-text-size{
    font-size: 12px;
}
.tabla-text-ti-size{
    font-size: 14px;
}
.com-text-size{
    font-size: 2px;
}
