.logout{
    width: 10%;
}
.colornav{
    background:  #0B735A;
}
.lefnav{
    padding-right: 25px;
}
.logo{
	bottom: -16px;
	left: 15px;
}

.subBaner {
    background: #ECE944 none repeat scroll 0 0;
    padding: 1px;
    position: relative;
    margin-top: -20px;
}

.triangulo_lateral:before{
    content: '';
    border-style: solid;
    border-width: 0px 15px 15px 15px;
    border-color: transparent
                   transparent
                   #ECE944
                   transparent ;
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
}
.z-index-10 {
    z-index: 10;
}
.imgCarreras{
    width: 80%;
    height: 80%;
    padding-left: 20%;
    padding-top: 100px;
}
.text-color-p{
    color: #5E5E5E;
}
.text-color-t{
    color: #1AB99B;
}


