extends 'base_admin'

block main
  .row
    .col.l12
      .card
        .card-content
          form(method='post')
            {% csrf_token %}
            {{ form.as_p }}
            button.btn Save
