!!! 5

{% load staticfiles %}

{% load pipeline %}

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(type='text/css', rel='stylesheet', href="{% static 'css/materialize.min.css' %}",
         media='screen,projection')
    block incluye_style
      link(rel='stylesheet', type='text/css', href="{% static 'css/style.css' %}")

    link(rel='stylesheet', type='text/css', href="{% static 'css/codea.css' %}")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")

    title Proyecto UT
      block title

    {% stylesheet 'main' %}

  body
    // Cargando
    #loader-wrapper
      #loader
      .loader-section.section-left
      .loader-section.section-right
    // fin
    // INICIO DEL HEADER
    block navegacion
      header#header.page-topbar
        // INICIO DEL HEADER CON EL NAV
        .navbar-fixed
          nav.naverde
            .nav-wrapper
              ul.left
                li
                  h1.logo-wrapper
                    a.brand-logo.darken-1(href='{% url "index_admin" %}')
                      img(style='width: 65px; height: auto;', src='{% static "img/logo-UT-01.svg" %}', alt='logo')
                    span.logo-text UTPY
              ul.right.hide-on-med-and-down
                if search_url
                  li
                    form(action='{% url search_url %}', method='get')
                      .input-field
                        input#search(name='q', type='search')
                        label(for='search')
                          i.material-icons search

                li
                  a.waves-effect.waves-block.waves-light.toggle-fullscreen(href='javascript:void(0);')
                    i.mdi-action-settings-overscan
                li
                  a.waves-effect.waves-block.waves-light(href='javascript:void(0);')
                    i.mdi-social-notifications
                if not user.is_authenticated
                  li
                    a(href='{% url "iniciar_sesion" %}') Acceder

      // FIN DEL HEADER CON EL NA
    // FIN HEADER
    // INICIO DEL MAIN
    #main
      block leftside
        // INICIO DEL WRAPPER
        if user.is_authenticated
          .wrapper
            // INICIO DEL NAV DERECHA
            aside#left-sidebar-nav
              ul#slide-out.side-nav.fixed.leftside-navigation.naverde2.collection.with-header
                li.user-details
                  // Mas menu para el usuario
                  .row
                    .col.col.s4.m4.l4
                      img.circle.responsive-img.valign.profile-image(src="{% static 'img/avatar2.png' %}")
                    .col.col.s8.m8.l8
                      ul#profile-dropdown.dropdown-content
                        li
                          a(href='#')
                            i.mdi-action-face-unlock
                            |  perfil
                        li
                          a(href='#')
                            i.mdi-action-settings
                            |  Ajustes
                        |                                     
                        li
                          a(href='#')
                            i.mdi-communication-live-help
                            |  Ayuda
                        |                                     
                        li.divider
                        |                                     
                        li
                          a(href='{% url "cerrar_sesion" %}?next=/')
                            i.mdi-hardware-keyboard-tab
                            |  Salir

                      a.btn-flat.dropdown-button.waves-effect.waves-light.white-text.profile-btn(href='#', data-activates='profile-dropdown')
                        | {{ user.username }}
                        i.mdi-navigation-arrow-drop-down.right

                      p.user-roal 
                        if user.is_superuser
                          | Administrador

                        elif user.is_staff and user.claveprof 
                          | Docente

                        else 
                          | Alumno
                             

                if user.is_superuser
                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a(href='{% url "nueva_fecha_captura" %}')
                        i.mdi-content-add
                        | Nueva Fecha
                    li.bold.naverde2
                      a(href='{% url "edit_fecha_captura" 1 %}')
                        | Modificar Fecha activa
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-image-timer-auto.active
                        | Alumnos
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_alumno" %}')
                             i.mdi-content-add 
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_alumno" %}')
                             i.mdi-action-list 
                             | Listar
                             block conteo_alumnos
                             

                  //.divider

                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-account-child
                        | Docentes
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_profesor" %}')
                             i.mdi-content-add
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_profesor" %}')
                             i.mdi-action-list
                             | Listar 

                          li
                           a(href='{% url "profesor_imparte" %}')
                             i.mdi-action-input
                             | impartir 



                  //.divider

                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-credit-card
                        | Carreras
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_carrera" %}')
                             i.mdi-content-add
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_carrera" %}')
                             i.mdi-action-list 
                             | Listar

                    //.divider

                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-assignment
                        | Materias
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "registrar_materia" %}')
                             i.mdi-content-add
                             | Nuevo
                         li
                           a(href='{% url "listar_materias" %}')
                             i.mdi-action-list 
                             | Listar

                  //.divider

                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-alarm-add
                        | Periodos
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_periodo" %}')
                             i.mdi-content-add
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_periodo" %}')
                             i.mdi-action-list 
                             | listar

                  //.divider

                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-group-work
                        | Grupos
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_grupo" %}')
                             i.mdi-content-add
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_grupo" %}')
                             i.mdi-action-list 
                             | listar

                  //.divider

                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-action-loyalty
                        | Inscripciones
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='{% url "register_inscripcion" %}')
                             i.mdi-content-add
                             | Nuevo                                        
                         li
                           a(href='{% url "listar_inscripciones" %}')
                             i.mdi-action-list
                             | Listar
        
                
                elif user.is_staff and user.claveprof
                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan
                        i.mdi-image-timer-auto.active
                        | Hola profe
                      |                                 
                      .collapsible-body
                        ul
                         li
                           a(href='!#')
                             i.mdi-content-add 
                             | Nuevo                                        
                         li
                           a(href='!#')
                             i.mdi-action-list 
                             | Listar

                else
                  li.no-padding
                  ul.collapsible.collapsible-accordion
                    li.bold.naverde2
                      a.collapsible-header.waves-effect.waves-cyan.active
                        i.material-icons assignment_late
                        | Calificaciones
                      .collapsible-body
                        ul
                          li
                            a(href='#')
                              i.mdi-action-list 
                              | Listar         
                

              a.sidebar-collapse.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only.cyan(data-activates='slide-out', href='#')
                i.mdi-navigation-menu
            // TERMINA SIDEBAR NAV
      block main

    // ARCHVOS JS
    // para que ocupe la pantalla completa
    script(src="{% static 'js/plugins/full.js' %}", type='text/javascript')
    // jQuery Library
    script(type='text/javascript', src="{% static 'js/jquery.min.js' %}")
    // materialize js
    script(type='text/javascript', src="{% static 'js/materialize.js' %}")
    // scrollbar
    script(type='text/javascript', src="{% static 'js/plugins/perfect-scrollbar.min.js' %}")
    // para el efecto de inicio del cargador
    script(type='text/javascript', src="{% static 'js/plugins.js' %}")
    script(type='text/javascript', src="{% static 'js/efectos.js' %}")
    |       
    script.
      //function to fix height of iframe!
      var calcHeight = function() {
      var headerDimensions = $('.preview__header').height();
      $('.full-screen-preview__frame').height($(window).height() - headerDimensions);
      }
      $(document).ready(function() {
      calcHeight();
      $('.tooltipped').tooltip({delay: 50});
      });
      $(window).resize(function() {
      calcHeight();
      }).load(function() {
      calcHeight();
      });
      $('.datepicker').pickadate({
       selectMonths: true, 
       selectYears: 15
      });       