doctype html
{% load staticfiles %}

{% load pipeline %}
html(lang='es')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1.0')
    |     
    meta(charset='UTF-8')
    |     
    link(type='text/css', rel='stylesheet', href="{% static 'css/materialize.min.css' %}")
    link(rel='stylesheet', type='text/css', href="{% static 'css/Style-index.css' %}")

    title Bien benidos   
    {% stylesheet 'main' %}
         
    link(rel='icon', href="{% static 'img/favicon-01.png' %}")
  body
    // empesando el nav
    .navbar-fixed
      nav
        .nav-wrapper.colornav
          a.brand-logo.logo(href='#!')
            img.logout(src="{% static 'img/logo-utpy.png' %}")
          |               
          ul.right.hide-on-med-and-down.lefnav
            li
              a.waves-effect(href='#!')
                i.mdi-action-home
            |                 
            li
              a.waves-effect(href='#!') UT
            |                 
            li
              a.waves-effect(href='#carreras') Carreras
            |                 
            li
              a.waves-effect(href='#!') Alumnos
            |                 
            li
              a.waves-effect(href='#!') Eventos
            |                 
            a.waves-effect.waves-yellow.btn.green.accent-4(href="{%url 'iniciar_sesion' %}") Login
          |               
          ul#mobile-demo.side-nav
            li
              a.waves-effect(href='#!')
                i.mdi-action-home
            |                 
            li
              a.waves-effect(href='#!') UT
            |                 
            li
              a.waves-effect(href='#carreras') Carreras
            |                 
            li
              a.waves-effect(href='#!') Alumnos
            |                 
            li
              a.waves-effect(href='#!') Eventos
            |                 
            a.waves-effect.waves-yellow.btn.green.accent-4(href="{%url 'iniciar_sesion' %}") Login
               
          |                
          a.button-collapse(href='#', data-activates='mobile-demo')
            i.mdi-navigation-menu
    // Fin de la nav
    // enpesando con el banner
    .parallax-container
      .parallax
       img.parallax-img(src="{% static 'img/baner.jpg' %}")
      .container
        .row
          .col.m12.s12.center.green-text.text-accent-4
             h1 Bienvenido a la pagina Oficial
             h5 de la univercidad Tecnologica de la region norte de Guerrero
        .row
           .col.m12.s12.center.white-text
            a.btn-large.orange.waves-effect.waves-light(href='#!') Ven a inscribirte con nosotros

    // fin del baner
    // sub banner
    .z-depth-1.z-index-10.subBaner.triangulo_lateral
      .row
        h3.center-align
          a.green-text.text-accent-4(href='#carreras') Carreras
    // fin del sub banner
    // inicio de las carreras
    #carreras
      .row
        .col.offset-l1.l10.s12
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/tic.png' %}")
            |             
            h2.center-align.text-color-t Ingenieria en TI
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae vel laudantium, voluptatem doloremque laboriosam necessitatibus soluta autem cumque, nesciunt harum laborum natus pariatur. Veniam quas eaque dolorum earum iste aspernatur.
          |           
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/desarrollo.png' %}" )
            |             
            h2.center-align.text-color-t Ingenieria en Desarrollo
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet rem commodi suscipit harum modi perspiciatis nihil voluptate optio est necessitatibus sequi, eligendi rerum! Illo blanditiis eligendi voluptatum voluptatibus, fuga, deserunt?
          |           
          .col.s12.m4
            img.imgBaner.imgCarreras.responsive-img(src="{% static 'img/conta.png' %}")
            |             
            h2.center-align.text-color-t Ingenieria en Contaduria
            |             
            p.text-color-p.center-align
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci et voluptate facilis quae tenetur recusandae soluta, voluptas minima optio laudantium laborum iusto atque esse, deleniti ullam praesentium modi aut suscipit.
    // fin de las carreras
    // inicio del footer
    footer.page-footer.green.accent-4
      .container
        .row
          .col.l6.s12
            h5.white-text UT es un univercidad
            |                 
            p.grey-text.text-lighten-4 Donde te brindamos la mejor educacion
          |               
          .col.l4.offset-l2.s12
            h5.white-text Sigenos
            |                 
            ul
              li
                a.grey-text.text-lighten-3(href='#!') Facebook
              |                   
              li
                a.grey-text.text-lighten-3(href='#!') Twitter
      |           
      .footer-copyright
        .container
          | &copy; 2014 Copyright Equipo 3
          a.grey-text.text-lighten-4.right(href='#!') Mas
    // Adjuntando los archivos JS
    script(src="{% static 'js/jquery.min.js' %}")
    |   
    script(src="{% static 'js/materialize.min.js' %}")
    |   
    script.
      $( document ).ready(function(){
      $(".button-collapse").sideNav();
      $('.parallax').parallax();
      $('.modal-trigger').leanModal();
      $('#modal1').closeModal();
      $('.parallax').parallax();
      })
