.row
  .col.s12.m12
    .card.white
      .card-content.white-text
        span.card-title.grey-text Lista de Carreras
        .row 
          table.bordered
            thead
              tr.grey-text.text-darken-3  
                th(data-field='id') Clave Carrera
                th(data-field='id') Nombre Carrera
                th(data-field='id') Tipo
                th Aciones

            tbody
              for carrera in lista_carrera
                tr.grey-text.text-darken-3.tabla-text-size
                  td.teal-text.text-accent-4 
                    a(href='{% url "editar_carrera" carrera.clave_carrera %}')
                      {{carrera.clave_carrera}}
                  td {{carrera.carrera}}
                  td {{carrera.tipo}}
                  td
                    a.mdi-content-create.small(href='!#')
                  td
                    a.mdi-action-delete.small(href='!#')


    a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red
      i.material-icons {{ lista_carrera | length}}

