extends 'base_admin.jade'

{% load material_form %}

block title
  | &nbsp;|
  if object
    | Registrar Carrera
  else
    | Registrar Inscripciones

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.white-text  
              if obeject
                | Editando: {{ object }}
              else
                | Registrar Nueva Carrera
            .row
              form.col.l12(method='post')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s4     
                    i.mdi-action-star-rate.prefix            
                    {{form.clave_carrera}}
                    label {{form.clave_carrera.label}}
                    {{form.errors.clave_carrera}}
                  .input-field.col.s4
                    i.mdi-device-data-usage.prefix 
                    {{form.carrera}}
                    label(for='first_name') {{form.carrera.label}}
                    {{form.errors.carrera}}
                  .input-field.col.s4
                    i.mdi-image-filter-b-and-w.prefix
                    {{form.tipo}}
                    label(for='first_name') {{form.tipo.label}}
                    {{form.errors.tipo}}
                if object
                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Actualizar
                else
                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Agregar
                
          .card-action.grey.darken-3 
            if messages             
              .chip 
                for message in messages
                  {{ message }}
                i.material-icons.mdi-navigation-cancel