.row
  .col.s12.m12
    .card.white
      .card-content.white-text
        span.card-title.grey-text Lista de Alumnos
        .row 
          table.bordered
            thead
              tr.grey-text.text-darken-3.tabla-text-ti-size
                th(data-field='id') Matricula
                th(data-field='id') Nombre Completo
                th(data-field='id') Sexo
                th(data-field='id') Fecha de Nacimiento
                th(data-field='id') Direccion
                th(data-field='id') Correo
                th(data-field='id') Telefono
                th(data-field='id') Tipo de Sangre
                th Aciones

            tbody
              for alumno in lista_alumno
                tr.grey-text.text-darken-3.tabla-text-size
                  td.teal-text.text-accent-4 
                    a(href='{% url "editar_alumno" alumno.id %}')
                      {{alumno.matriculaconst.matriculaconst}}{{alumno.matriculavar}}
                  td {{alumno.nombre}} {{alumno.apellido_p}} {{alumno.apellido_m}}
                  td {{alumno.get_sexo_display}}
                  td {{alumno.fechanac}}
                  td {{alumno.direccion}}
                  td {{alumno.correo}}
                  td {{alumno.telefono}}
                  td {{alumno.get_tiposangre_display}}
                  td
                    a.mdi-content-create.small(href='{% url "editar_alumno" alumno.id %}')


      .card-action
        if is_paginated
          ul.pagination
            if page_obj.has_previous
              li.waves-effect
                a(href='{% url "listar_alumno" %}?page={{ page_obj.previous_page_number }}')
                  i.material-icons chevron_left
            li.orange-text.text-accent-4 {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

            if page_obj.has_next
              li.waves-effect
                a(href='{% url "listar_alumno" %}?page={{ page_obj.next_page_number }}')
                  i.material-icons chevron_right

    if link_listar_alumno
      a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(href='{% url "listar_alumno" %}', data-position='left', data-tooltip='Ver Todos')
          i.mdi-action-list
