extends 'base_admin.jade'

block main
  table.bordered
    thead
      tr.grey-text.text-darken-3.tabla-text-ti-size  
        th Periodo
        th materia
        th parcial 1
        th parcial 2
        th parcial 3
        th remedial 1
        th remedial 2
        th remedial 3
        th extra

    for curso in object_list
      tr
        td
          {{ curso.imparte.clave_periodo }}
        td
          {{ curso.imparte.clave_mat }}
        td
          {{ curso.parcial_1 }}
        td
          {{ curso.parcial_2 }}
        td
          {{ curso.parcial_3 }}
        td
          {{ curso.remedial_1 }}
        td
          {{ curso.remedial_2 }}
        td
          {{ curso.remedial_3 }}
        td
          {{ curso.extra }}