extends 'base_admin.jade'

block title
  | &nbsp;|
  if object
    | Editar Alumno
  else
    | Crear Alumno

block main
  .row
    .col.s12.m12.l12
      .card.yellow.lighten-1
        .card-content.white-text
          span.card-title.white-text 
            if object
              | Editando: {{ object }}
            else
              | Registrar un nuevo Alumno 
          .row              
            form.col.l12(method='post')
              {% csrf_token %}
              .row.grey-text.text-darken-3
                .input-field.col.s4.com-text-size             
                  {{form.matriculaconst}}
                  label {{form.matriculaconst.label}}
                  {{form.errors.matriculaconst}}
                .input-field.col.s4.m4
                  i.mdi-action-star-rate.prefix 
                  {{form.matriculavar}}
                  label(for='id_matriculavar') {{form.matriculavar.label}}
                  {{form.errors.matriculavar}}
                .input-field.col.s4.m4
                  i.mdi-action-account-circle.prefix
                  {{form.nombre}}
                  label(for='id_nombre') {{form.nombre.label}}
                  {{form.errors.nombre}}
                

              .row.grey-text.text-darken-3 
                .input-field.col.s3.m3
                  i.mdi-action-account-box.prefix
                  {{form.apellido_p}}
                  label(for='id_apellido_p') {{form.apellido_p.label}}
                  {{form.errors.apellido_p}}
                .input-field.col.s3.m3
                  i.mdi-action-account-box.prefix
                  {{form.apellido_m}}
                  label(for='id_apellido_m') {{form.apellido_m.label}}
                  {{form.errors.apellido_m}}
                .input-field.col.s3.m3
                  {{form.sexo}}
                  label {{form.sexo.label}}
                  {{form.errors.sexo}}
                .input-field.col.s3.m3(type='date')
                  //i.mdi-action-today.prefix
                  {{form.fechanac}}          
                  label {{form.fechanac.label}}
                  {{form.errors.fechanac}}
                

              .row.grey-text.text-darken-3 
                .input-field.col.s3
                  i.mdi-action-store.prefix
                  {{form.direccion}}
                  label(for='id_direccion') {{form.direccion.label}}
                  {{form.errors.direccion}}
                .input-field.col.s3
                  i.mdi-communication-email.prefix
                  {{form.correo}}
                  label(for='id_correo') {{form.correo.label}}
                  {{form.errors.correo}}
                .input-field.col.s3
                  i.mdi-communication-call.prefix
                  {{form.telefono}}
                  label {{form.telefono.label}}
                  {{form.errors.telefono}}
                .input-field.col.s3
                  {{form.tiposangre}}
                  label {{form.tiposangre.label}}
                  {{form.errors.tiposangre}}                  

              if object
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Actualizar
              else
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Agregar 
        |  
                   
        .card-action.grey.darken-3 
          {{form.non_field_errors}}
          if messages             
            .chip 
              for message in messages
                {{ message }}
              i.material-icons.mdi-navigation-cancel

              
  a.btn-alumno.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "registrar_generacion" %}', data-position='left', data-tooltip='Nueva Generacion') 
    i.mdi-content-add
    
  if lista_alumno
    include alumnos/_lista.jade 
