extends 'base_admin.jade'

block incluye_style
block title
  | &nbsp;| Iniciar sesion

block navegacion
block leftside
block main
  .row.login-top
    .col.offset-l4.l4.s12
      .card.darken-1
        .card-content
          .card-title.center.light-green-text.text-darken-1 Iniciar sesión
          |               
          p
            form.col.l12(method='post', action='{% url "iniciar_sesion" %}')
              {% csrf_token %}
              .input-field.col.s12
                i.mdi-action-face-unlock.prefix 
                input#id_username(type='text', name='username').validate
                 
                label.left(for='id_usuario') {{ form.username.label }}              

              

              .input-field.col.s12
                i.mdi-communication-vpn-key.prefix 
                input#id_password(type='password', name='password')
                label.left(for='id_password') {{ form.password.label }}
                
              .row.botones-top
                .green   
                .col.s12         
                  div.col.s6
                    button.solo.waves-effect.waves-light.btn.yellow(type='submit') Acceder
                  div.col.s6
                    button.waves-effect.waves-light.btn.red Cancelar
        |             
        .card-action
          .chip {{ form.username.help_text }}
                i.material-icons close

                   