extends 'base.jade'

{% load material_form %}

block title
  | Registrar usuario

block main
  form.col.l12(method='post', action='{% url "register_usuario" %}')
    {% csrf_token %}
    {% form form=form %}{% endform %}

    .actions
      button.btn(type='submit') Registrar usuario
