extends 'base_admin.jade'

{% load material_form %}

block incluye_style
block title
  b Iniciar sesion

block navegacion
block leftside
block main
    .valign-wrapper
        .row.login-top
            .col.offset-l2.l8.s12
              .card.card-darken-1
                .card-title.center.light-green-text.text-darken-1
                  h4 Actualizar Contraseña

                .card-content 
                  
                  .red
                    {{ form.non_field_errors }}

                  form.col.l12(method='post')
                    {% csrf_token %}
                    
                    .input-field.col.s12     
                        {{form.new_password1}}                
                      label.left(for='id_usuario')  {{form.new_password1.label}}            
                    
                    .input-field.col.s12  
                        {{form.new_password2}}                  
                      label.left(for='id_password') {{form.new_password2.label}}              
                    .row
                      .green          
                      .col.s12.center
                        button.waves-effect.waves-light.btn.red reiniciar Contraseña
