.row
  .col.s12.m12
    .card.white
      .card-content.white-text
        if imparte_obj
          span.card-title.grey-text {{ imparte_obj.clave_grupo }}
        else
          span.card-title.grey-text Lista de Inscripciones
        .row 
          if imparte_obj
            include inscripciones/custom_list.jade
          else
            include inscripciones/generic_list.jade