{% load base %}

table.bordered
  thead
    tr.grey-text.text-darken-3.tabla-text-ti-size  
      th Alumno
      th Parcial 1
      th Parcial 2
      th Parcial 3
      th Remedial 1
      th Remedial 2
      th Remedial 3
      th Extra

  tbody
    for inscripcion in lista_incripcion
      form(method='post', action='{% url "edit_calif" imparte_obj.id inscripcion.alumno.id %}')
        {% csrf_token %}
        tr.grey-text.text-darken-3.tabla-text-size
          td.teal-text.text-accent-4
            {{ inscripcion.alumno }}
          {% related_calif inscripcion.alumno as calif%}
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.parcial_1 }}', pattern='[0-9][0-9]+', name='parcial_1', disabled='parcial_1' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.parcial_2 }}', pattern='[0-9][0-9]+', name='parcial_2', disabled='parcial_2' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.parcial_3 }}', pattern='[0-9][0-9]+', name='parcial_3', disabled='parcial_3' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.remedial_1 }}', pattern='[0-9][0-9]+', name='remedial_1', disabled='remedial_1' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.remedial_2 }}', pattern='[0-9][0-9]+', name='remedial_2', disabled='remedial_2' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.remedial_3 }}', pattern='[0-9][0-9]+', name='remedial_3', disabled='remedial_3' in disabled_fields)
          td.teal-text.text-accent-4
            input.validate(type='number', max='10', min='0', value='{{ calif.extra }}', pattern='[0-9][0-9]+', name='extra', disabled='extra' in disabled_fields)
          td.teal-text.text-accent-4
            button.btn(type='submit')
              i.material-icons done

      if messages
        for message in messages
          {{ message }}