table.bordered
  thead
    tr.grey-text.text-darken-3.tabla-text-ti-size  
      th(data-field='id') Alumno
      th(data-field='id') Grupo
      th(data-field='id') Modalidad
      th(data-field='id') Fecha de Inscripcion
      th Acciones

  tbody
    for inscripcion in lista_incripcion
      tr.grey-text.text-darken-3.tabla-text-size
        td.teal-text.text-accent-4
          a(href='{% url "editar_inscripcion" inscripcion.id %}')
            {{inscripcion.alumno}}
        td {{inscripcion.clave_grupo}}
           {{inscripcion.Grupo.letra}}
        td {{inscripcion.modalidad}}
        td {{inscripcion.fecha_inscripcion}}
        td 
          a.mdi-content-create.small(href='!#')
        td 
          a.mdi-action-delete.small(href='!#')
