extends 'base_admin.jade'

block title
  | &nbsp;|
  if object
    | Actualizar Inscripciones
  else
    | Inscribir Alumno

block main
  .row
    .col.s12.m12
      .card.yellow.lighten-1
        .card-content.white-text
          span.card-title.white-text 
            if object
              | Editando: {{ object }}
            else
              | Incribir Alumnos   
          .row
            form.col.l12(method='post', action='{% url "register_inscripcion" %}')
              {% csrf_token %}
              .row.grey-text.text-darken-3
                .input-field.col.s4                
                  {{form.alumno}}
                  label {{form.alumno.label}}
                .input-field.col.s4 
                  {{form.clave_grupo}}
                  label(for='id_clave_grupo') {{form.clave_grupo.label}}
                .input-field.col.s4 
                  {{form.modalidad}}
                  label(for='id_modalidad') {{form.modalidad.label}}
                .input-field.col.s4
                  i.mdi-action-today.prefix
                  {{form.fecha_inscripcion}}
                  label(for='id_fecha_inscripcion') {{form.fecha_inscripcion.label}}
              if object 
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Actualizar
              else
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
              
        .card-action.grey.darken-3 
          {{form.non_field_errors}} 
          if messages            
            .chip 
              for message in messages
                {{ message }}
                i.material-icons.mdi-navigation-cancel
  a.btn-inscripcion.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "listar_inscripciones" %}', data-position='left', data-tooltip='Ver Inscripciones') 
   i.mdi-action-list