extends 'base_admin.jade'

block title
  | Lista de materias

block main 
  .row
    .col.s12.m12
      .card.white
        .card-content.white-text
          span.card-title.grey-text Lista de Materias
          .row 
            table.bordered
              thead
                tr.grey-text.text-darken-3.tabla-text-ti-size
                  th(data-field='id') Clave
                  th(data-field='id') Carrera
                  th(data-field='id') Nombre
                  th(data-field='id') Plan
                  th(data-field='id') Cuatrimestre

                  th(data-field='id') Modalidad

              tbody
                for materia in object_list
                  tr.grey-text.text-darken-3.tabla-text-size
                    td.teal-text.text-accent-4 {{ materia.clave_mat }}
                    td {{ materia.clave_carrera }}
                    td {{ materia.nombre }}
                    td {{ materia.plan }}
                    td {{ materia.cuatrimestre }}
                    td {{ materia.clave_mod.modalidad }}

      a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red
       i.material-icons {{ object_list | length }}

// recorrer el obeject_list usando un for 
// ejemplo:for materia in object_list
