extends 'base_admin.jade'

block title
  | Registrar materia

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.black-text Registrar Nueva Materia
            .row  
              form.col.l12(method='post', action='{% url "registrar_materia" %}')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s4     
                    i.mdi-action-star-rate.prefix            
                    {{ form.clave_mat }}
                    label {{ form.clave_mat.label }}
                    {{ form.errors.clave_mat }}
                  .input-field.col.s4
                    {{ form.clave_carrera }}
                    label(for='id_clave_carrera') {{ form.clave_carrera.label }}
                    {{form.errors.clave_carrera}}
                  .input-field.col.s4 
                    i.mdi-action-extension.prefix
                    {{ form.plan }}
                    label(for='id_plan') {{ form.plan.label }}
                    {{form.errors.plan}}
                  .input-field.col.s4 
                    i.mdi-action-face-unlock.prefix
                    {{ form.nombre }}
                    label(for='id_nombre') {{form.nombre.label}}
                    {{ form.errors.nombre }}
                  .input-field.col.s4 
                    i.mdi-action-tab-unselected.prefix
                    {{ form.cuatrimestre }}
                    label(for='id_cuatrimestre') {{ form.cuatrimestre.label }}
                    {{form.errors.cuatrimestre}}
                  .input-field.col.s4
                    {{ form.clave_mod }}
                    label(for='id_clave_mod') {{ form.clave_mod.label }}
                    {{form.errors.clave_mod}}
                  

                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Guardar
          
          .card-action.grey.darken-3 
            {{ form.non_field_errors }}
            if messages
              .chip 
                for message in messages
                  {{ message }}
                i.material-icons.mdi-navigation-cancel
