extends 'base_admin.jade'

{% load material_form %}

block title
  | Modalidad

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.white-text Registrar nueva Modalidad  
            .row
              form.col.l12(method='post', action='{% url "register_modalidad" %}?next={% url "registrar_generacion" %}')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s6     
                    i.mdi-action-star-rate.prefix            
                    {{form.clavemod}}
                    label {{form.clavemod.label}}
                  .input-field.col.s6 
                    {{form.modalidad}}
                    label {{form.modalidad.label}}

                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
                
          .card-action.grey.darken-3              
            .chip 
              for message in messages
                {{ message }}
              i.material-icons.mdi-navigation-cancel