extends 'base_admin.jade'

block title
  | Registrar Periodo

block main 
  .row
    .col.s12.m12
      .card.white
        .card-content.white-text
          span.card-title.grey-text Lista de Periodos
          .row 
            table.bordered
              thead
                tr.grey-text.text-darken-3.tabla-text-ti-size 
                  th(data-field='id') Clave Periodo
                  th(data-field='id') Nombre Periodo

              tbody
                for periodo in object_list
                  tr.grey-text.text-darken-3.tabla-text-size
                    td.teal-text.text-accent-4 {{periodo.clave_periodo}}
                    td {{periodo.periodo}}

      a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red
       i.material-icons {{ object_list | length}}

                 


// recorrer el obeject_list usando un for 
// ejemplo:for alumno in object_list
