extends 'base_admin.jade'

{% load material_form %}

block title
  | Registrar Periodo

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.white-text Registrar Nuevo Periodo
            .row
              form.col.l12(method='post', action='{% url "register_periodo" %}')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s6     
                    i.mdi-action-star-rate.prefix            
                    {{form.clave_periodo}}
                    label {{form.clave_periodo.label}}
                  .input-field.col.s6
                    i.mdi-action-alarm-add.prefix 
                    {{form.periodo}}
                    label(for='first_name') {{form.periodo.label}}
                
                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
                
          .card-action.grey.darken-3              
            .chip 
              for message in messages
                {{ message }}
              i.material-icons.mdi-navigation-cancel