extends 'base_admin.jade'

{% load material_form %}

block title
  | Registrar alumno

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.white-text Registrar un nuevo Directivo  
            .row
              form.col.l12(method='post', action='{% url "register_directivo" %}')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s3     
                    i.mdi-action-star-rate.prefix            
                    {{form.clave}}
                    label {{form.clave.label}}
                  .input-field.col.s3
                    i.mdi-action-account-circle.prefix 
                    {{form.nombre}}
                    label(for='first_name') {{form.nombre.label}}
                  .input-field.col.s3
                    i.mdi-action-account-box.prefix
                    {{form.apaterno}}
                    label(for='first_name') {{form.apaterno.label}}
                  .input-field.col.s3
                    nput-field.col.s3
                    i.mdi-action-account-box.prefix
                    {{form.amaterno}}
                    label(for='first_name') {{form.amaterno.label}}
                .row.grey-text.text-darken-3
                  .input-field.col.s3
                    i.mdi-action-group-work.prefix
                    {{form.puesto}}
                    label(for='first_name') {{form.puesto.label}}

                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
                
          .card-action.grey.darken-3              
            .chip 
              for message in messages
                {{ message }}
              i.material-icons.mdi-navigation-cancel