extends 'base_admin.jade'

block title
  | Registrar generacion

block main
  .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.white-text Registrar Nueva Generacion
            .row  
              form.col.l12(method='post', action='{% url "registrar_generacion" %}?next={% url "register_alumno" %}')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s4     
                    i.mdi-action-star-rate.prefix            
                    {{form.matriculaconst}}
                    label {{form.matriculaconst.label}}
                    {{form.errors.matriculaconst}}
                  .input-field.col.s4
                    i.mdi-action-today.prefix 
                    {{form.generacion}}
                    label(for='first_name') {{form.generacion.label}}
                    {{form.errors.generacion}}
                  .input-field.col.s4
                    {{form.modalidad}}
                    label {{form.modalidad.label}}
                    {{form.errors.mdalidad}}

                button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
          
          .card-action.grey.darken-3 
            {{form.non_field_errors}}
            if messages             
              .chip 
                for message in messages
                  {{ message }}
                i.material-icons.mdi-navigation-cancel

    a.btn-generacion.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "register_modalidad" %}', data-position='left', data-tooltip='Nueva Modalidad')
      i.mdi-content-add