.row
  .col.s12.m12
    .card.white
      .card-content.white-text
        span.card-title.grey-text Lista de Profesores
        .row 
          table.bordered
            thead
              tr.grey-text.text-darken-3.tabla-text-ti-size 
                th(data-field='id') Clave Profesor
                th(data-field='id') Nombre Completo
                th(data-field='id') Sexo
                th(data-field='id') Direccion
                th(data-field='id') Correo
                th Aciones

            tbody
              for profesor in lista_profesores
                tr.grey-text.text-darken-3.tabla-text-size
                  td.teal-text.text-accent-4
                    a(href='{% url "editar_profesor" profesor.claveprof %}')
                      {{profesor.claveprof}}
                  td {{profesor.nombre}} {{profesor.paterno}} {{profesor.materno}}
                  td {{profesor.get_sexo_display}}
                  td {{profesor.direccion}}
                  td {{profesor.correo}}

                  td
                    a.mdi-content-create.small(href='{% url "editar_profesor" profesor.claveprof %}')
                  td
                    a.mdi-action-delete.small(href='{% url "eliminar_profesor" profesor.claveprof %}')
    
                  
    if link_listar_profesor
     a.btn-contac.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(href='{% url "listar_profesor" %}', data-position='left', data-tooltip='Ver Todos')
      i.mdi-action-list
