extends 'base_admin.jade'

block title
  | &nbsp;| Asociar profesor con materia

block main
    .row
      .col.s12.m12
          .card.yellow.lighten-1
            .card-content.white-text
              if nombre_completo
                span.card-title.black-text {{ nombre_completo }}
              else
                span.card-title.black-text Asociar profesor con materia
              .row              
                form.col.l12(method='post')
                  {% csrf_token %}
                  .row.grey-text.text-darken-3
                    if form.claveprof in form.visible_fields
                      .input-field.col.s4
                        {{ form.claveprof }}
                        label {{ form.claveprof.label }}
                    else
                      // hidden from form_class
                      {{ form.claveprof }}

                    .input-field.col.s4
                      {{ form.clave_mat }}
                      label {{ form.clave_mat.label }}

                    .input-field.col.s4
                      {{ form.clave_periodo }}
                      label {{ form.clave_periodo.label }}

                    .input-field.col.s4
                      {{ form.clave_grupo }}
                      label {{ form.clave_grupo.label }}

                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Guardar

            .card-action.grey.darken-3 
            {{ form.errors }}
            {{form.non_field_errors}}
            if messages
              .chip 
                for message in messages
                  {{ message }}
                i.material-icons.mdi-navigation-cancel
