extends 'base_admin.jade'

block title
  | &nbsp;| Your courses!

block main
    .row
      .col.s12.m12
          .card.lighten-1
            .card-content
              span.card-title.black-text Your courses
              table
                if object_list
                  tr
                    th id
                    th Materia
                    th Grupo
                    th Turno
                for course in object_list
                  tr
                    td
                      a(href='{% url "custom_listar_inscripciones" course.id %}') {{ course.id }}
                    td {{ course.clave_mat.nombre }}
                    td {{ course.clave_grupo.letra }}
                    td {{ course.clave_grupo.get_turno_display }}
                    // some other fields

              //.row              
                form.col.l12(method='post')
                  {% csrf_token %}

                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Guardar