extends 'base_admin.jade'

block title
  | &nbsp;|
  if object
    | Editar profesor
  else
    | Crear profesor

block main
    .row
      .col.s12.m12
        .card.yellow.lighten-1
          .card-content.white-text
            span.card-title.black-text
              if object
                | Editando: {{ object }}
              else
                | Registrar un nuevo Docente  
            .row
              form.col.l12(method='post')
                {% csrf_token %}
                .row.grey-text.text-darken-3
                  .input-field.col.s3   
                    i.mdi-action-star-rate.prefix              
                    {{form.claveprof}}
                    label {{form.claveprof.label}}
                  .input-field.col.s3
                    i.mdi-action-account-circle.prefix
                    {{form.nombre}}
                    label(for='first_name') {{form.nombre.label}}
                  .input-field.col.s3
                    i.mdi-action-account-box.prefix
                    {{form.paterno}}
                    label(for='first_name') {{form.paterno.label}}
                  .input-field.col.s3
                    i.mdi-action-account-box.prefix
                    {{form.materno}}
                    label(for='first_name') {{form.materno.label}}

                .row.grey-text.text-darken-3
                  .input-field.col.s4                
                    {{form.sexo}}
                    label {{form.sexo.label}}
                  .input-field.col.s4
                    i.mdi-action-store.prefix
                    {{form.direccion}}
                    label(for='first_name') {{form.direccion.label}}
                  .input-field.col.s4
                    i.mdi-communication-email.prefix
                    {{form.correo}}
                    label(for='first_name') {{form.correo.label}}
                if object
                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Actualizar
                else
                  button.btn.grey.lighten-5.grey-text.text-darken-3(type='submit') Registrar
                       
          .card-action.grey.darken-3              
            if messages
              .chip 
                for message in messages
                  {{ message }}
                i.material-icons.mdi-navigation-cancel

    if object
      a.btn-docente.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "profesor_imparte" object.claveprof %}', data-position='left', data-tooltip='Asociar profesor con curso')
        i.mdi-content-add
    else
      a.btn-docente.btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-3.tooltipped(href='{% url "register_directivo" %}', data-position='left', data-tooltip='Nuevo Directivo')
        i.mdi-content-add

    if lista_profesores
      include profesores/_lista.jade
